---
---

@import "{{ site.theme }}";

body {
  /*background-color: #fff;
  background-image: url("");
  background-position: right bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;*/

  /*padding:50px;*/
  font: 14px;
 /*line-height: 99%;*/
  color: #8c8c8c;
  font-weight:400;
}

h4, h5, h6 {
  color: #00b3b3;
  /*line-height:0.5;*/
  line-height: 1.0;
}

h3 {
  color: #737373;
  /*line-height:0.5;*/
  line-height: 1.0;
}

h2 {
  color: #00b3b3;
  /*line-height:0.5;*/
  line-height: 1.0;
}

h1 {
  color: #00b3b3;
  font-weight: bold;
  /*line-height:0.4;*/
  line-height: 1.0;
}

h2 {
  font-weight: bold;
}

a {
  color: #00b3b3;
  font-weight: bold;
}
